# markdown
## markdown
### markdown
#### markdown

- python
    - python 1
    - python 2
        - python idle
- *python*
- **python**
- ***python***

# Print Function()
  -it allows us to print a text or a message

In [1]:
print("hello world")

hello world

In [2]:
print("HELLO WORLD")

HELLO WORLD

In [3]:
print("one","two","three")

one two three

# VARIABLES
        - it is stores a value

In [6]:
a = 10 # a value is assigned to the variable

In [7]:
print(a)

10

In [8]:
a = b= c =10 #multiple variables are assigned to a single value
print(a,b,c)

10 10 10

In [9]:
a,b,c=10,20,30 # multiple values for multiple variables
print(a,b,c)

10 20 30

# Data Types
- int
- float
- string

In [10]:
# int
a = 5
print(a,type(a))

5 <class 'int'>

In [11]:
# float
f= 1.2
print(f,type(f))

1.2 <class 'float'>

In [12]:
# string
s= "python"
print(s,type(s))

python <class 'str'>

In [13]:
a = 8
print(a,type(a))
n= float(a)
print(n,type(n))
f= str(n)
print(f,type(f))

8 <class 'int'>
8.0 <class 'float'>
8.0 <class 'str'>

In [14]:
f= 3.6
print(f,type(f))
g= int(f)
print(g,type(g))
h= str(g)
print(h,type(h))

3.6 <class 'float'>
3 <class 'int'>
3 <class 'str'>

In [15]:
s= "844"
print(s,type(s))
d= int(s)
print(d,type(d))
y= float(d)
print(y,type(y))

844 <class 'str'>
844 <class 'int'>
844.0 <class 'float'>

In [37]:
print("name**is**james")

name**is**james

In [24]:
r= int(input("radius of the circle"))
area = 22/7*r*r
print("area =",area)

radius of the circle5
area = 78.57142857142857

In [26]:
a=int(input("enter the first no="))
b=int(input("enter the econd no="))
sum= a+b
multi= a*b
div=a//b
print("sum=",sum,"multiplication=",multi,"division=",div)

enter the first no=4
enter the econd no=2
sum= 6 multiplication= 8 division= 2

In [39]:
a=int(input("The Year ="))
print("result",a+50)

The Year =2001
result 2051